n8n_Flow_ Automated Bug Report Generator from Error Log/n8n Flow_ Test Case Generator from JIRA Ticket/n8n Flow_ Test Case Generator from JIRA Ticket.json
{
  "name": "n8n Flow: Test Case Generator from JIRA Ticket",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a3c4379-a722-4ed0-ab72-4727a926d65e",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "SCRUM-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ebeb3967-93f5-45a2-aabb-4116537b1f2a",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "SCRUM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        -320
      ],
      "id": "cf27f1cb-d357-46c2-92ff-55b4a14a4c63",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -656,
        -320
      ],
      "id": "fb90d220-4f52-4945-beae-b2b006f98bde",
      "name": "When chat message received",
      "webhookId": "5e678785-4e36-4bca-bb10-8c706bb0ba41"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c00d5dbb-22a1-4504-b6be-58c8b05df089",
              "name": "fields.description",
              "value": "={{ $json.fields.description }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false,
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -384
      ],
      "id": "9ca44955-0337-40b4-948f-55328a78358d",
      "name": "Filter - Description"
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ $json.chatInput }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -208,
        -384
      ],
      "id": "971d93fb-664c-4c1f-a0c5-9a55605ad892",
      "name": "Get - Issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "zjaicNncP5g1TCHF",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior QA Engineer. \nYour task is to transform the given requirement into structured functional test cases. \nRequirement text: {{ $json[\"fields.description\"] || $('When chat message received').item.json.chatInput }}\n\nUse the RICE POT framework:\n- Role: Senior QA Engineer\n- Input: Requirement text\n- Constraints: Generate ONLY from the provided requirement. If information is missing, write \"Needs clarification\".\n- Expected Output: A table with the following columns:\n  | Test Case ID | Requirement Reference | Test Scenario | Preconditions | Test Steps | Expected Result | Priority |\n\nGuidelines:\n- Do not invent details beyond the requirement.\n- Keep test cases concise, actionable, and clear.\n- Use sequential numbering for Test Case IDs (e.g., TC-001, TC-002).\n- If requirement text is ambiguous, explicitly mark the relevant fields as \"Needs clarification\".",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -320
      ],
      "id": "0a35903b-6249-4749-bc59-db41945993ce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        128
      ],
      "id": "a5c7dd3c-237b-453e-87c8-bdd82a51d8c6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "UGsFLTaIgd4rxPcT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"Test Case ID\": {\n        \"type\": \"string\"\n      },\n      \"Requirement Reference\": {\n        \"type\": \"string\"\n      },\n      \"Test Scenario\": {\n        \"type\": \"string\"\n      },\n      \"Preconditions\": {\n        \"type\": \"string\"\n      },\n      \"Test Steps\": {\n        \"type\": \"string\"\n      },\n      \"Expected Result\": {\n        \"type\": \"string\"\n      },\n      \"Priority\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"Test Case ID\",\n      \"Requirement Reference\",\n      \"Test Scenario\",\n      \"Preconditions\",\n      \"Test Steps\",\n      \"Expected Result\",\n      \"Priority\"\n    ]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        -96
      ],
      "id": "22274600-1c23-475a-8b84-21376a8df0f0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        688,
        -320
      ],
      "id": "fd2d1134-bcf8-445b-93c4-97d5e2d70f74",
      "name": "Execution Data"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "357e899f3f5746d0928f55e519517083",
          "action": "sendMessage",
          "chatInput": "As a registered user, I want to log in to the application using my email and password so that I can securely access my personalized dashboard and features.\n\nAcceptance Criteria:\n\nUser must be able to enter a valid email and password.\n\nSystem should validate credentials against the user database.\n\nOn successful login, user is redirected to the dashboard.\n\nOn invalid credentials, an error message is displayed: “Invalid email or password.”\n\nPassword field must be masked.\n\nLogin session should persist until logout or timeout.\n\nPreconditions:\n\nUser account exists in the system.\n\nUser has a valid email and password."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get - Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Description": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get - Issue": {
      "main": [
        [
          {
            "node": "Filter - Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5a5a57c-266c-4716-a7e0-5267e2926d4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21aeb6d5f90b68ae64533d0c958107252a38760d8b9e168a17c99e91d097cec1"
  },
  "id": "mSvCKN61EtmT4HmH",
  "tags": []
}